body {
  background-color: rgba(255,255,255,1.0);
}

#content {
  margin: 20px;

  .dropdown-menu {
    max-height: 400px;
    overflow: auto;

    img {
      max-height: 12px;
      max-width: 12px;
    }

    span {
      margin: 10px 0;
      font-size: 8pt;
    }
  }
}